<% unless user_signed_in? %>
  <div class="homepage">
    <h2>PsychE</h2>
    <p>Please sign up as an admin to create and assign questionnaires.<p>
  </div>
<% end %>

<% if user_signed_in? && current_user.admin %>
  <%= render "admin" %>
<% end %>

<% if user_signed_in? && !current_user.admin %>
  <%= render "user" %>
<% end %>
