@import "foundation_and_overrides";


$header-bg: #1f6984;
$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 0.5rem;
$transition: all .35s ease-in-out;

.questionnairename {
    // margin-right: 120px;
}


.avatar {
  border-radius: 50%;
  max-height: 35px;
  float:left;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 0px;
}


#backtoindex {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

#backtoindex p {
  font-size: 150%;
}


.userinformation {
margin-left: auto;
margin-right: auto;
}

.userinformation h1{
  font-size: 200%;
}

.createquestionnaire {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
}

.logname {
  margin-top: 10px;
  margin-bottom: 0px;
}


.form-icon {
  display:inline-block;
  padding-right: 0px;
  padding-top: 8px;
}

.form-question {
  margin-top: 30px;
  margin-left: 270px;
  margin-right: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid skyblue;

}

.form-assignment {
  margin-top: 30px;
  margin-left: 270px;
  margin-right: 270px;
  border-radius: 25px;
  border: 2px solid skyblue;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.form-questionnaire {
  margin-top: 30px;
  margin-left: 270px;
  margin-right: 270px;
  border-radius: 25px;
  border: 2px solid skyblue;
  padding-bottom: 30px;
  padding-left: 0px;
  text-align: center;
}
.questionnaire-form h2 {
  font-size: 200%;
  padding: 7px;
  text-align: center;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
}


.questionscore {
  border: 2px solid black;
  padding-left: auto;
  margin-right: auto;
  // margin-left: auto;
}

.questionnaire-show-page {
  border: 2px solid black;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 55px;
  margin-right: auto;
  width: 95%;
  box-shadow: 4px 4px grey;
  padding: 5px;
}

.erb-display {
  text-align: center;
  border: none;
  padding-top: 8px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px grey;
  border: 2px solid black;
  margin-bottom: 5px;
  padding-bottom: 2px;
}


.questionnaire-display p {
  text-align: center;
  }
.questionnaires-header {
text-align: center;
border: none;
}

.question {
  border: 2px solid black;
  margin-left: 35px;
  margin-right: 40px;
}



.userquestion-display {
border: 2px solid skyblue;
    margin-bottom: 20px;
}

.userquestion-display h1{
  color: white;
  font-size: 30px;
  background-color: skyblue;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.devise-signin {
  background-color: #F7F7F7;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  padding: 40px 40px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
};

.devise-signup {
  width: 350px;
  background-color: #F7F7F7;
  padding: 50px 50px;
  border-radius: 25px;
  text-align: center;
  padding: 40px 40px;
  margin-left: auto;
  margin-right: auto;
}

.devise-edit {
  width: 350px;
  background-color: #F7F7F7;
  padding: 50px 50px;
  border-radius: 25px;
  text-align: center;
  padding: 40px 40px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: white;
  text-align: center;
  background: $header-bg;
  background-size: cover;
}

.header-subnav {
  float: none;
  // position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  background-color: skyblue;

  .leftnav {
    float: left;
  }

  .rightnav {
    float: right;
  }

  div {
    float: none;
    display: inline-block;

    a {
      padding: $subnav-link-padding .5em;
      font-size: $subnav-font-size;
      color: white;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: $transition;

      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

.navbaritems {
  display: inline-block;
  padding: $subnav-link-padding .5em;
  font-size: $subnav-font-size;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

div.header-subnav.row {
  max-width: 100%;
}
